<div *ngIf = "visible" class = "ng-actions-notifier-container" 
[ngClass] = "classes?.container">
  <div class = "ng-actions-notifier" [ngClass] = "classes?.notifier">
    <div class = "ng-actions-notifier-header">
      <div class = "ng-actions-notifier-title">
        {{title}}
      </div>
      <div class = "ng-actions-notifier-closer" [ngClass] = "classes?.closer"
      (click) = "close(); onClose && onClose()">
        <span *ngIf = "!classes?.closer">&times;</span>
      </div>
    </div>
    <div class = "ng-actions-notifier-body">
      <div class = "ng-actions-notifier-icon" [ngClass] = "classes?.icon"></div>
      <div class = "ng-actions-notifier-messages">
        <div class = "ng-actions-notifier-message" *ngFor = "let part of message">
          {{part}}
        </div>
      </div>
    </div>
    <div class = "ng-actions-notifier-footer">
      <div class = "ng-actions-notifier-actions">
        <div class = "ng-actions-notifier-action" *ngFor = "let action of actions">
          <button class = "ng-actions-notifier-button {{action.class}}" 
          (click) = "action.callback && action.callback(); this.close()">
            {{action.label}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
